<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/uml2tagml/target/polymer.tags"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/uml2api/"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tags2src/src/tags2src/main/Generate.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tags2src.main.Generate"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:/Users/Alex/runtime-EclipseApplication/uml2tagml/target/polymer.tags&quot; &quot;C:/Users/Alex/runtime-EclipseApplication/uml2api&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tags2src"/>
</launchConfiguration>
